* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body{
  background-color: azure;
    display: flex;
    justify-content: space-around;

}


.container{
    justify-content: center;
    text-align: center
    
    
}

.forecastcard{

    justify-content: center;
    text-align: center
}

.header{
    text-align: center;
    background-color: rgb(181, 208, 223);
    
}

h1{
    color: white;
    text-shadow: 2px;
}

.recent-searches{
    display: flex;
    flex-direction: column;
}

